<div class="navbar"> 
        <a class="link btn" routerLink="/home">HOME</a>
</div>
    
<form [formGroup]="user" (ngSubmit) = "onSubmit()">
<div class="login-wrap1">
	<div class="login-html">
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Login</label>
		<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"></label>
		<div class="login-form">
			<div class="sign-in-htm">
				
                <div class="group">
					<label for="user" class="label" >Email</label>
					<input-field formControlName="email" id="user_email" type="text"></input-field>
					<span class="errMess" *ngIf="!user.controls['email'].valid && user.controls['email'].touched">
						<span class="errMess" *ngIf="user.controls['email'].errors.required && user.controls['email'].touched">ERROR: Email is required <br></span>
						<span class="errMess" *ngIf="user.controls['email'].errors.pattern && user.controls['email'].touched">ERROR: Email not valid<br>EX: es1@gmail.com <br></span>
						<span class="errMess" *ngIf="user.controls['email'].errors.emailValidator && user.controls['email'].touched">ERROR: Try again. <br></span>
				</span>
                </div>
                <div class="group">
					<label for="user" class="label" >Phone Number</label>
					<input-field formControlName="telephoneNumber" id="user_phone" type="text"></input-field>
					<span class="errMess" *ngIf="!user.controls['telephoneNumber'].valid && user.controls['telephoneNumber'].touched">
						<span class="errMess" *ngIf="user.controls['telephoneNumber'].errors.required && user.controls['telephoneNumber'].touched">ERROR: Phone Number is required <br></span>
						<span class="errMess" *ngIf="user.controls['telephoneNumber'].errors.pattern && user.controls['telephoneNumber'].touched">ERROR: Phone Number should be composed by numbers<br></span>
                        <span class="errMess" *ngIf="user.controls['telephoneNumber'].errors.minlength &&  user.controls['telephoneNumber'].touched">ERROR: Phone number should be {{user.controls['telephoneNumber'].errors.minlength.requiredLength}} numbers <br></span>
                        <span class="errMess" *ngIf="user.controls['telephoneNumber'].errors.maxlength &&  user.controls['telephoneNumber'].touched">ERROR: Phone number should be {{user.controls['telephoneNumber'].errors.maxlength.requiredLength}} numbers <br></span>
                </span>
				</div>
				<div class="group">
					<label for="user" class="label" >Password</label>
					<show-hide-password size="lg" btnStyle="success" [btnOutline]="true">
						<input-field formControlName="password" id="user_password" type="text"></input-field>
					</show-hide-password>
					<span class="errMess" *ngIf="!user.controls['password'].valid && user.controls['password'].touched">
						<span class="errMess" *ngIf="user.controls['password'].errors.required && user.controls['password'].touched">ERROR: Password is required <br></span>
                        <span class="errMess" *ngIf="user.controls['password'].errors.minlength &&  user.controls['password'].touched">ERROR: Password should be min {{user.controls['password'].errors.minlength.requiredLength}} characters <br></span>
                        <span class="errMess" *ngIf="user.controls['password'].errors.maxlength &&  user.controls['password'].touched">ERROR: Password should be max {{user.controls['password'].errors.maxlength.requiredLength}} characters <br></span>
						<span class="errMess" *ngIf="user.controls['password'].errors.pattern && user.controls['password'].touched">ERROR: Password should be composed by numbers and letters<br></span>
				</span>
				</div>
				
				<br>
				<div class="group">
					<button type="submit" class="button" [disabled]=!(user.valid) (click)="login()">Login</button>
				</div>
				<div class="group">
					<a class="forgotPassword" href="/">Forgot password?</a>
				</div>
            </div>
            
        </div>
        
	</div>
</div>


</form>



<div *ngIf ="loginSuccess" style="margin-right: 45%; margin-left: 45%; margin-top: 3%; text-align: center; float: right;">
	<img class="login-success-asset" src="assets/login/success.png" alt="success">
	<p>Login Success!</p>
</div>
<div *ngIf="error" style="margin-right: 45%; margin-left: 45%; margin-top: 3%; text-align: center; float: right;">
	<img class="login-error-asset" src="assets/login/error.png" alt="error">
	<p>Login Error!</p>
</div>

<button (click)="viewLocalStorage()">view storage</button>

