<form [formGroup]="user" ><div class="group">
    <label for="user" class="label" >Email</label>
    <input formControlName = "email" name="email" id="user_email" type="text" class="input">
    <span class="errMess" *ngIf="!user.controls['email'].valid && user.controls['email'].touched">
        <span class="errMess" *ngIf="user.controls['email'].errors.required && user.controls['email'].touched">ERROR: Email is required <br></span>
        <span class="errMess" *ngIf="user.controls['email'].errors.pattern && user.controls['email'].touched">ERROR: Email not valid<br>EX: es1@gmail.com <br></span>
</span>
</div>
<div class="group">
    <label for="user" class="label" >Phone Number</label>
    <input formControlName = "telephoneNumber" name="telephoneNumber" id="user_phone" type="text" class="input">
    <span class="errMess" *ngIf="!user.controls['telephoneNumber'].valid && user.controls['telephoneNumber'].touched">
        <span class="errMess" *ngIf="user.controls['telephoneNumber'].errors.required && user.controls['telephoneNumber'].touched">ERROR: Phone Number is required <br></span>
        <span class="errMess" *ngIf="user.controls['telephoneNumber'].errors.pattern && user.controls['telephoneNumber'].touched">ERROR: Phone Number should be composed by numbers<br></span>
        <span class="errMess" *ngIf="user.controls['telephoneNumber'].errors.minlength &&  user.controls['telephoneNumber'].touched">ERROR: Phone number should be {{user.controls['telephoneNumber'].errors.minlength.requiredLength}} numbers <br></span>
        <span class="errMess" *ngIf="user.controls['telephoneNumber'].errors.maxlength &&  user.controls['telephoneNumber'].touched">ERROR: Phone number should be {{user.controls['telephoneNumber'].errors.maxlength.requiredLength}} numbers <br></span>
</span>
</div>
<div class="group">
    <label for="user" class="label" >Password</label>
    <input formControlName = "password" name="password" id="user_password" type="password" class="input">
    <span class="errMess" *ngIf="!user.controls['password'].valid && user.controls['password'].touched">
        <span class="errMess" *ngIf="user.controls['password'].errors.required && user.controls['password'].touched">ERROR: Password is required <br></span>
        <span class="errMess" *ngIf="user.controls['password'].errors.minlength &&  user.controls['password'].touched">ERROR: Password should be min {{user.controls['password'].errors.minlength.requiredLength}} characters <br></span>
        <span class="errMess" *ngIf="user.controls['password'].errors.maxlength &&  user.controls['password'].touched">ERROR: Password should be max {{user.controls['password'].errors.maxlength.requiredLength}} characters <br></span>
        <span class="errMess" *ngIf="user.controls['password'].errors.pattern && user.controls['password'].touched">ERROR: Password should be composed only by numbers and letters<br></span>
</span>
</div>
</form>