<div class="navbar">
        <a class="link btn" routerLink="/home">HOME</a>
</div>

<form [formGroup]="user" (ngSubmit) = "onSubmit()">
<div class="login-wrap2">
	<div class="login-html">
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Register</label>
		<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"></label>
		<div class="login-form">
			<div class="sign-in-htm">
				<div class="group">
					<label for="user" class="label">Name</label>
					<input-field formControlName="name" id="user_name" type="text"></input-field>
					<span class="errMess" *ngIf="!user.controls['name'].valid && user.controls['name'].touched">
						<span class="errMess" *ngIf="user.controls['name'].errors.required && user.controls['name'].touched">ERROR: Name is required</span>
						<span class="errMess" *ngIf="user.controls['name'].errors.pattern && user.controls['name'].touched">ERROR: Name should be composed by letters<br></span>
						<span class="errMess" *ngIf="user.controls['name'].errors.minlength && user.controls['name'].touched">ERROR: Name should be min {{user.controls['name'].errors.minlength.requiredLength}} characters <br></span>
					</span>
				</div>
				<div class="group">
					<label for="user" class="label" >Surname</label>
					<input-field formControlName="surname" id="user_surname" type="text"></input-field>
					<span class="errMess" *ngIf="!user.controls['surname'].valid && user.controls['surname'].touched">
						<span class="errMess" *ngIf="user.controls['surname'].errors.required && user.controls['surname'].touched">ERROR: Surname is required</span>
						<span class="errMess" *ngIf="user.controls['surname'].errors.pattern && user.controls['surname'].touched">ERROR: Surname should be composed by letters <br></span>
						<span class="errMess" *ngIf="user.controls['surname'].errors.minlength && user.controls['surname'].touched">ERROR: Surname should be min {{user.controls['surname'].errors.minlength.requiredLength}} characters <br></span>
				</span>
                </div>
				<div class="group">
					<label for="user" class="label" >Age</label>
					<input-field formControlName="age"  id="user_age" type="text"></input-field>
					<span class="errMess" *ngIf="!user.controls['age'].valid && user.controls['age'].touched">
						<span class="errMess" *ngIf="user.controls['age'].errors.required && user.controls['age'].touched">ERROR: Age is required <br></span>
						<span class="errMess" *ngIf="user.controls['age'].errors.pattern && user.controls['age'].touched">ERROR: Age should be composed by numbers<br></span>
                        <span class="errMess" *ngIf="user.controls['age'].errors.ageValidator && user.controls['age'].touched">ERROR: Age should be greater than zero<br></span>
                </span>
                </div>
                <div class="group">
					<label for="user" class="label" >Email</label>
					<input-field formControlName="email" id="user_email" type="text"></input-field>
					<span class="errMess" *ngIf="!user.controls['email'].valid && user.controls['email'].touched">
						<span class="errMess" *ngIf="user.controls['email'].errors.required && user.controls['email'].touched">ERROR: Email is required <br></span>
						<span class="errMess" *ngIf="user.controls['email'].errors.pattern && user.controls['email'].touched">ERROR: Email not valid<br>EX: es1@gmail.com <br></span>
				</span>
                </div>
                <div class="group">
					<label for="user" class="label" >Phone Number</label>
					<input-field formControlName="telephoneNumber" id="user_phone" type="text"></input-field>
					<span class="errMess" *ngIf="!user.controls['telephoneNumber'].valid && user.controls['telephoneNumber'].touched">
						<span class="errMess" *ngIf="user.controls['telephoneNumber'].errors.required && user.controls['telephoneNumber'].touched">ERROR: Phone Number is required <br></span>
						<span class="errMess" *ngIf="user.controls['telephoneNumber'].errors.pattern && user.controls['telephoneNumber'].touched">ERROR: Phone Number should be composed by numbers<br></span>
                        <span class="errMess" *ngIf="user.controls['telephoneNumber'].errors.minlength &&  user.controls['telephoneNumber'].touched">ERROR: Phone number should be {{user.controls['telephoneNumber'].errors.minlength.requiredLength}} numbers <br></span>
                        <span class="errMess" *ngIf="user.controls['telephoneNumber'].errors.maxlength &&  user.controls['telephoneNumber'].touched">ERROR: Phone number should be {{user.controls['telephoneNumber'].errors.maxlength.requiredLength}} numbers <br></span>
                </span>
				</div>
				<div class="group">
					<label for="user" class="label" >Create a Password</label>
					<show-hide-password size="lg" btnStyle="success" [btnOutline]="true">
						<input-field formControlName="password" id="user_password" type="password"></input-field>
					</show-hide-password>
					<span class="errMess" *ngIf="!user.controls['password'].valid && user.controls['password'].touched">
						<span class="errMess" *ngIf="user.controls['password'].errors.required && user.controls['password'].touched">ERROR: Password is required <br></span>
                        <span class="errMess" *ngIf="user.controls['password'].errors.minlength &&  user.controls['password'].touched">ERROR: Password should be min {{user.controls['password'].errors.minlength.requiredLength}} characters <br></span>
                        <span class="errMess" *ngIf="user.controls['password'].errors.maxlength &&  user.controls['password'].touched">ERROR: Password should be max {{user.controls['password'].errors.maxlength.requiredLength}} characters <br></span>
						<span class="errMess" *ngIf="user.controls['password'].errors.pattern && user.controls['password'].touched">ERROR: Password should be composed only by numbers and letters<br></span>
				</span>
				</div>
				

				<br>
				<div class="group">
					<button type="submit" class="button" [disabled]=!(user.valid) (click)="save()" routerLink="/home">Subscribe</button>
					<br>
				</div>
				<div class="hr"></div>
            </div>
            
        </div>
        
	</div>
</div>

</form>
