<div>
<nav class="navbar1 navbar navbar-expand-lg navbar-light bg-light" >
   
    <button style="color: black;" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div style="color: black;" class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="link btn" routerLink="/home">HOME</a>
        </li>
        <li class="nav-item">
          <a class="link btn" routerLink="/login">LOGIN</a>
        </li>
        <li class="nav-item">
            <a class="link btn" routerLink="/subscribe">REGISTER</a>
          </li>
          <li class="nav-item">
            <a class="link btn" routerLink="/profile">PROFILE</a>
          </li>
        <li class="nav-item dropdown">
          <a class="link btn dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            MATCHES
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">5vs5 matches</a>
            <a class="dropdown-item" href="#">8vs8 matches</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/match">See all the matches avaible</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="link btn" routerLink="/home" (click)="logout()">LOGOUT</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<br>
<br>
<br>
<br>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="z-index: 0;">

    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="carousel-caption d-none d-md-block">
            <h3>Sfida avversari</h3>
            <p>Crea o aggiungiti ad una partita!</p>
          </div>
        <img class="d-block w-100" src="assets/home/img1.jpg" alt="First slide">
      </div>
      <div class="carousel-item">
        <div class="carousel-caption d-none d-md-block">
            <h3>Vinci</h3> 
            <p>Segna i tuoi punti e le tue statistiche</p>
          </div>
        <img class="d-block w-100" src="assets/home/img2.jpg" alt="Second slide">
      </div>
      <div class="carousel-item">
        <div class="carousel-caption d-none d-md-block">
            <h3>Rispetto</h3>
            <p>...</p>
          </div>
        <img class="d-block w-100" src="assets/home/img3.jpg" alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
